@model IEnumerable<EthernetShop.Models.CPUViewModel>

@{
    ViewBag.Title = "Процессоры";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

<section id="show-items" class="cpus">
    @if (Model.Count() > 0)
    {
        <div class="container">
            <div class="col-md-9 main-content">
                <h3>Процессоры</h3>
                @foreach (var cpu in Model)
                {
                    <div class="row">
                        <div class="item">
                            <div class="col-md-4 item-images">
                                <div class="item-logo">
                                    <img src="~/Content/Images/@cpu.Images.First()" alt="@cpu.CategoryName-@cpu.Name" class="item-logo" />
                                </div>
                            </div>
                            <div class="col-md-4 item-info">
                                <a class="item-name" href="@Url.Action("ShowItem","Content", new { categoryName = cpu.CategoryName, itemId = cpu.Id })">@cpu.Name</a>
                                <h5>Количество ядер: @cpu.CoresAmount</h5>
                                <h5>Частота: @cpu.ClockFrequency</h5>
                                <h5>Объем кэша L2: @cpu.CashL2</h5>
                                <h5>Объем кэша L3: @cpu.CashL3</h5>
                            </div>
                            <div class="col-md-4 item-price-service">
                                <h4>@cpu.Price BYR</h4>
                                <form method="post" class="add-to-basket" action="@Url.Action("AddItem","ShoppingBasketService")">
                                    <div class="sr-only">
                                        <input name="categoryId" value="@cpu.CategoryId" />
                                        <input name="itemId" value="@cpu.Id" />
                                    </div>
                                    <input type="number" value="1" name="amount"/>
                                    <button type="submit">Добавить в корзину</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3 left-menu">
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <h2>Товаров нет</h2>
        </div>
    }
</section>
<script>
        $(document).ready(function () {
            function AddToBasketOnSuccess() {
                var btn = document.getElementById('#addToBasketButton');
                btn.disanabled = "true";
                btn.value = "Добавлено";
            };
            $('button[id*="delete-item-"]').click(function (e) {
                var current = this;
                var parent = $(this).parent('div')[0];
                console.log("Delete button clicked. ")
                $.ajax({
                    url: "@Url.Action("Delete", "CPU")",
                    type: "post",
                    data: $(current).next('form').serialize(),
                    success: function (e) {
                        $(parent).remove();
                        console.log("Data removed!");
                    }
                }
                );
                e.preventDefault();
            });
            $('form.add-to-basket').submit(function (e) {
                var frm = this;
                $.ajax({
                    url: "@Url.Action("AddItem", "ShoppingBasketService")",
                    data: $(frm).serialize(),
                    type: "post",
                    success: function () {
                        console.log("Item is added.");
                    }
                });
                e.preventDefault();
            })
        })
</script>